<% @user ||= current_user %>
<foto>
  <a href="<%= user_path(@user) %>"> 
    <%= gravatar_for @user, :size => 120 %> 
  </a>
</foto>
<h1><%= @user.name %></h1>
<h2><%= pluralize(@user.microposts.count, "post") %></h2>