
    <p>
      Esta aplicación web a sido desarrollada gracias a la ayuda de 
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      bajo el entorno de <a href="http://rubyonrails.org/">Ruby on Rails</a>.
    </p>

    <p>
      Se puede encontrar el codigo fuente de esta aplicación en 
      <a href="https://github.com/Lschasoy/Rails_Proyect/">Git Hub</a>.
    </p>