<div id="help">
  <div id="help" class="int">
    <h1 class="title">Ayuda</h1>
    <div style="clear: both;">&nbsp;</div>
    <div class="entry">
      <p>
         <b>Cómo registrarse:</b><br>
         En la página de inicio, haz click en el botón "Unete ahora!"
         Una vez dentro, introduce la información requerida (Nombre de usuario, contraseña, correo electronico, etc)
      </p>

      <p>
         <b>Olvidaste la contraseña?</b><br>
         En caso de que no recuerdes la contraseña, en el menú para iniciar sesión, haz click en "Olvidaste la contraseña?"
         Introduce tu dirección de correo electrónico y se te enviará un link para volver a introducir (o cambiar) tu contraseña.
      </p>

      <p>
         <b>Cómo cambiar la foto de perfil</b><br>
         Tu foto de perfil es aquella que aparece en la página de Gravatar, que se enlaza con tu perfil de usuario.
         Para modificar la foto, dirígete a tu perfil de Gravatar y escoge una nueva imagen.
      </p>

      <p>

      </p>
    </div>
  </div>
</div>
