<h1>Ayuda</h1>
<p>
  Ayuda para el desarrollo de aplicaciones en la página de ayuda de 
  <a href="http://railstutorial.org/help">Rails Tutorial</a>.
  Para conseguir ayuda del desarrollo de esta aplicación visitar el libro de 
  <a href="http://railstutorial.org/book">Rails Tutorial</a>.
</p>
