<div id="help">
  <div id="help" class="int">
    <h1 class="title">Ayuda</h1>
    <div style="clear: both;">&nbsp;</div>
    <div class="entry">
      <p>
         <b>Cómo registrarse</b><br>
         En la página de inicio, haz click en el botón "Unete ahora!"
         Una vez dentro, introduce la información requerida (Nombre de usuario, contraseña, correo electronico, color para tu página)
      </p>

      <img class="imagen" src="/images/Settings.png" width=200 height="auto" align="middle" alt="pantalla de ajustes">

      <p>
	 <b>Publicar un micropost</b><br>
         Para publicar un micropost en la página, en el mismo menú de inicio puedes escribir lo que quieras que se publique.
         Cuando esté listo, sólo hay que pulsar el botón postear y aparecerá en tu perfil de usuario para que otros lo vean.
      </p>

      <img class="imagen" src="/images/Microposts.png" width=200 height="auto" align="middle" alt="publicar un micropost">

      <p>
         <b>Incluir enlaces de otras páginas</b><br>
         Si quieres publicar un enlace a otra página con noticias o a un vídeo interesante, tan sólo hay que escribir el enlace
         a la página en cuestión dentro del micropost. El hipervínculo a la página se generará automáticamente una vez se haya publicado.
      </p>

      <img class="imagen" src="/images/Video.png" width=400 height="auto" align="middle" alt="añadir enlace de video">
      <img class="imagen" src="/images/Earth.png" width=400 height="auto" align="middle" alt="añadir enlace de imagen">


      <p>
	 <b>Incluir emoticonos o memes</b><br>
         Para expresar el estado de ánimo por medio de un emoticono en un micropost, tan sólo tienes que poner el código del emoticono
         de forma que al publicarse el micropost, el emoticono se genera automáticamente. Los códigos para emoticonos son los mismos que
         los de otras aplicaciones como Messenger o Facebook.

	 Para incluir un meme, se debe escribir el nombre del mismo entre dos puntos y aparecerá publicado cuando el micropost esté
         en la página.
      </p>

      <img class="imagen" src="/images/Memes.png" width=300 height="auto" align="middle" alt="emoticonos y memes">

      <p>
         <b>Eliminar un micropost</b><br>
         Si has publicado un micropost que no te haya gustado, puedes borrarlo dándole al botón "Eliminar" al lado del micropost
         publicado, dentro del menú "Perfil".
      </p>

      <img class="imagen" src="/images/Delete.png" width=300 height="auto" align="middle" alt="borrar un micropost">


      <p>
         <b>Olvidaste la contraseña?</b><br>
         En caso de que no recuerdes la contraseña, en el menú para iniciar sesión, haz click en "Olvidaste la contraseña?"
         Introduce tu dirección de correo electrónico y se te enviará un link para volver a introducir (o cambiar) tu contraseña.
      </p>

      <img class="imagen" src="/images/Login.png" width=400 height="auto" align="middle" alt="inicio de sesion">

      <p>
	 <b>Cómo seguir a otro usuario</b><br>
         Para seguir a otro usuario y poder ver sus microposts, ve al menú Usuarios, donde aparece la lista de los usuarios registrados
         actualmente en la página. Entra en la página del usuario al que vas a seguir y haz click en el botón "Seguir".
         Si deseas seguir a un usuario en concreto y no lo ves en la lista, tan sólo tienes que introducir su nombre en la barra de
         búsqueda. Si hay un usuario con ese nombre, podrás seguirlo.

         Si te has cansado de seguir a un usuario, sólo tienes que dirigirte a la página del mismo (como se hizo para seguirle) y
         darle al botón "Dejar de seguir".
      </p>

      <img class="imagen" src="/images/Follow.png" width=300 height="auto" align="middle" alt="seguir a otro usuario">
      <img class="imagen" src="/images/Unfollow.png" width=300 height="auto" align="middle" alt="dejar de seguir a otro usuario">

      <p>
	 <b>Cómo cambiar los ajustes del perfil</b><br>
         Para cambiar los ajustes del perfil (un nuevo nombre de usuario, cambiar el correo electrónico o la contraseña), sólo hay que
         hacer click en el menú Ajustes, y realizar allí los cambios que se deseen.
     </p>

      <p>
         <b>Cómo cambiar la foto de perfil</b><br>
         Tu foto de perfil es aquella que aparece en la página de Gravatar, que se enlaza con tu perfil de usuario.
         Para modificar la foto, dirígete a tu perfil de Gravatar y escoge una nueva imagen.
      </p>

      <p>

      </p>
    </div>
  </div>
</div>
