<footer>
  <div id="footer">
        <p>
	Esta aplicación ha sido desarrollada gracias al libro y tutorial de 
	<a href="http://ruby.railstutorial.org/chapters/">Rails Tutorial</a>.
        </p>
	<p>Copyright (c) 2012 <a href="http://www.ull.es/"> Universidad de La Laguna</a>. All rights reserved. Designed by <a href="http://www.freecsstemplates.org/"> Free CSS Templates</a>.</p>
  </div>
</footer>
