<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Acerca de", about_path %></li>
      <li><%= link_to "Contacto", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">Noticias</a></li>
      <li><a href="http://www.railstutorial.org/">Gracias a ...</a></li>
    </ul>
  </nav>
</footer>