<header>
  <% logo = image_tag("pajarito.png", :alt => "Micropost app", :class => "round") %>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Ayuda", help_path %></li>
      <li><%= link_to "Entrar", '#' %></li>
    </ul>
  </nav>
</header>
